.listing-container {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: "main-listing-header" "main-listing-container";
}

.listing-header-container {
    grid-area: main-listing-header;
    margin: 10px;
}

.main-listing-container {
    grid-template: main-listing-container;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-areas: "main-listing-sub-container" "main-listing-sub-container";
}

.main-listing-sub-container {
    max-height: min(100%, 60vh);
    overflow-y: auto;
    box-shadow: 0px 0px 20px -20px;
    display: block !important;
    border-radius: 16px;
    backdrop-filter: blur(50px);
    background-color: rgba(190, 190, 190, 0.2);
    box-shadow: 0px 0px 20px -20px;
}

.playlist {
    width: 280px !important;
}

.flex-general {
    display: flex;
    justify-content: space-between;
}

.listing-record-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    transition: all 200ms;
    cursor: pointer;
}

.listing-record-container:hover {
    background-color: aliceblue;
    color: black;
}

.listing-record {
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    width: inherit;
}

.listing-record-controls-container {
    display: flex;
    right: 0;
    width: 100px;
    gap: 4px;
    & div {
        height: 20px;
        cursor: pointer;
        border-radius: 100%;
        transition: all 200ms;
        padding: 4px;

        & svg {
            height: 20px;
        }
    }

    & div:hover {
        background-color: rgba(139, 139, 139, 0.7);
    }
}

.no-data {
    padding: 20px 0;
    text-align: center;
    img {
        width: 200px;
    }
}

.record-selected {
    background-color: white;
    color: black;
}